{% extends "layout.html" %}


{% block head %}
<title> HAIRCAIR </title>
{% endblock %}

{% block body %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/"> H<font color=#800000>AI</font>RC<font color=#800000>AI</font>R</a></li>
                <!--li><a href="/validate">HELP VALIDATE!</a></li-->
                <li><a href="https://www.linkedin.com/in/tugce-ozturk/" target="_blank">Tugce's LinkedIn</a></li>
                <li><a href="http://www.github.com/tugceoz/HAIRCAIR" target="_blank">Github</a></li>
                </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Logo -->
<div class="row top2bottom2">
    <div class="col-lg-12 col-md-12 center-block">
        <p id = "instructions" class="text-center" style="font-size:18px;"> <br> <font color=#800000>AI</font> powered personalized haircare solutions</p>
        <p id = "instructions" class="text-center" style="font-size:18px;"> Upload a picture of yourself, and receive product recommendations from Reddit users who share your hair type
        </p>
        <p>&nbsp;</p>
        <img class='center-block img-responsive' src="/static/img/logo.jpg" style="width:800px;"/>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-lg-4"></div>
    <div class="col-xl-4 col-lg-4 col-md-offset-5">
        <form method = "POST" action='/' enctype = "multipart/form-data">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn-xs btn-danger" type="submit"> Upload </button>
                </span>
                <input type = "file" name = "file" placeholder="Upload image...">
            </div><!-- /input-group -->
        </form>
    </div>
</div>

 <p>&nbsp;</p>
 <p id = "instructions" class="text-center"> Upload your own headshot, or choose an example from the gallery below </p>
 <p>&nbsp;</p>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-2">
        <form method="POST" action="/example1">
            <input type="image" src="/static/img/example1.jpg", name="image" value="/static/img/example-hair.jpg" style="height:200px">
                </form>
        </div>
        <div class="col-sm-2">
        <form method="POST" action="/example2">
            <input type="image" src="/static/img/example2.jpg", name="image" value="/static/img/example-hair.jpg" style="height:200px">
        </form>
        </div>
        <div class="col-sm-2">
        <form method="POST" action="/example3">
            <input type="image" src="/static/img/example3.jpg", name="image" value="/static/img/example-hair.jpg" style="height:200px">
                </form>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row text-center">
        <div class="col-sm-2">
        <form method="POST" action="/example4">
            <input type="image" src="/static/img/example4.jpg", name="image" value="/static/img/example-hair.jpg" style="height:200px">
        </form>
        </div>
        <div class="col-sm-2">
        <form method="POST" action="/example5">
            <input type="image" src="/static/img/example5.jpg", name="image" value="/static/img/example-hair.jpg" style="height:200px">
                </form>
        </div>
        <div class="col-sm-2">
        <form method="POST" action="/example6">
            <input type="image" src="/static/img/example6.jpg", name="image" value="/static/img/example-hair.jpg" style="height:200px">
                </form>
        </div>
    </div>
</div>




</body>

<script type="text/javascript" src="/static/js/index.js"></script>


{% endblock %}
